.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 125px 116px 0 474px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -51px 754px 0 21px;
}

.u-section-1 .u-form-1 {
  height: 306px;
  margin: -33px 362px 0 404px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  margin: -59px auto 60px 412px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 550px;
    margin-left: 374px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 575px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 304px;
    margin-right: 262px;
    width: 570px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 170px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 355px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 194px;
    margin-right: 152px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 175px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 104px;
    margin-right: 62px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}